<style>
    select {
        height: 30px;
        font-size: 18px;
        outline: none;
        border: none;
    }

    option {
        font-size: 18px;
    }

    .city:before {
        content: "г. ";
    }

    input {
        font-size: 23px;
        border: none;
        outline: none;
        background: none;
        border-bottom: 2px solid #212529;
        text-align: center;
        padding: 0 10px;
        width: 200px;
    }

    .wrapper {
        font-size: 23px;
        font-family: "Times New Roman", sans-serif;
        box-shadow: 0 0 5px rgba(0, 0, 0, 1);
        padding: 100px 50px;
        max-width: 1140px;
        width: 100%;
    }

    .header {
        padding-bottom: 50px;
    }

    h4, h3 {
        text-align: center;
    }

    input[type=date]::-webkit-inner-spin-button,
    ::-webkit-calendar-picker-indicator {
        display: none;
    }

    .inner-content-text {
        margin-left: 3.5%;
    }

    ol {
        list-style: none;
        counter-reset: li;
        padding-top: 2px;
    }

    li {
        padding-top: 5px;
    }

    li:before {
        counter-increment: li;
        content: counters(li, ".") ". ";
    }

    .end {
        font-weight: bold;
        text-align: center;
        padding-top: 50px;
    }

    .position {
        display: flex;
        justify-content: space-between;
        padding: 15px 40px 0;
    }

    .FIO {
        width: 450px;
    }

    .inner-footer {
        display: flex;
        justify-content: space-around;
        margin-top: 100px;
    }
</style>
<div class="wrapper">
    <div class="header">
        <div class="inner-header">
            <h3>СОГЛАШЕНИЕ</h3>
            <h4>
                о конфиденциальности <br> неразглашении коммерческой тайны <br> неконкурентном сотрудничестве
            </h4>
            <br>
            <div class="position">
                {{#if isBased}}
                    <div class="city">
                        <select class="choice" disabled>
                            <option>{{city}}</option>
                        </select>
                    </div>
                    <input type="text" class="point" disabled value="{{signatureDate}}">
                {{else}}
                    <div class="city">
                        <select class="choice" name="city">
                            <option>Луганск</option>
                            <option>Донецк</option>
                            <option>Свердловск</option>
                            <option>Ровеньки</option>
                            <option>Алчевск</option>
                            <option>Енакиево</option>
                            <option>Красный Луч</option>
                            <option>Макеевка</option>
                            <option>Горловка</option>
                            <option>Первомайск</option>
                            <option>Торжок</option>
                            <option>Вязьма</option>
                            <option>Переславль-Залесский</option>
                        </select>
                    </div>
                    <input type="text" class="point" disabled>
                {{/if}}
            </div>
        </div>
    </div>
    <div class="content">
        <div class="inner-content">
            <span class="inner-content-text"> Компания «100Клиентов», в лице Дух Андрея Андреевича, именуемый в дальнейшем  –  «Компания»,    и</span>
            {{#if isBased}}
                <input type="text" class="FIO" value="{{fullName}}" disabled>
            {{else}}
                <input type="text" class="FIO" name="fullName">
            {{/if}}
            <span>с другой стороны, именуемый в дальнейшем – «Сотрудник», заключили настоящее Соглашение о нижеследующем:</span>
            <ol class="numbered-list">
                <li><strong>Предмет Соглашения</strong>
                    <ol>
                        <li>Настоящее Соглашение определяет права и обязанности Сотрудника, возникающие при передаче
                            Компанией конфиденциальной информации и коммерческой тайны Сотруднику в ходе совместной
                            деятельности вне зависимости от формы ее предоставления или способа передачи.
                        </li>
                    </ol>
                <li><strong>Определение терминов.</strong>
                    В настоящем Соглашении используются следующие основные понятия:
                    <ol>
                        <li><strong>Конфиденциальная информация</strong> – информация, содержащаяся в договорах,
                            контрактах, письмах, отчетах, аналитических материалах, выписках из бухгалтерских счетов,
                            схемах, графиках, спецификациях и других документах, фигурирующих в деятельности Компании, а
                            также любые другие данные, разглашение которых может быть использовано конкурентами и,
                            соответственно, нанести экономический и иной ущерб Компании.
                            Любая информация, передаваемая Компанией в рамках данного Соглашения, считается
                            конфиденциальной.
                            <br>
                            <strong>В частности, но, не ограничиваясь этим перечнем, к конфиденциальной информации
                                относится:</strong>
                            <ol>
                                <li>информация, составляющая внутренние секреты Компании (ноу-хау), в том числе сведения
                                    о способах осуществления профессиональной деятельности, об услугах, оказываемых
                                    Компанией, финансовых вопросах, планах маркетинга, деловых возможностях, персонале,
                                    используемых технологиях;
                                </li>
                                <li>сведения о материалах, которые были подготовлены Компанией при выполнении совместных
                                    проектов с Сотрудником, включая подготовленные документы и их проекты;
                                </li>
                                <li>сведения о содержании деловых переговоров, обсуждений, или консультаций,
                                    осуществляемых Компанией;
                                </li>
                                <li>содержание настоящего Соглашения;</li>
                                <li>любая информация, оформленная в письменной или иной материальной форме, если такая
                                    информация явно обозначена как «Конфиденциальная информация», «Конфиденциально»,
                                    «Коммерческая тайна», «Информация для служебного пользования» или имеет аналогичное
                                    обозначение.
                                </li>
                            </ol>
                        </li>
                        <li><strong>Коммерческая тайна</strong> – сведения, связанные с предоставляемыми услугами,
                            технологиями, управлением, финансовой и другой деятельностью Компании, которые не являются
                            государственной тайной, разглашение которых может принести вред интересам Компании.
                        </li>
                        <li>Информацию, полученную от Компании, нельзя считать конфиденциальной или коммерческой тайной,
                            если Сотрудник может документально доказать любое из следующих положений:
                        </li>
                        <ol>
                            <li>Данная информация была общедоступна в момент её раскрытия Сотруднику.</li>
                            <li>Данная информация впоследствии стала общедоступной, но не в результате
                                несанкционированного раскрытия Сотрудником. Действие условия, изложенного в этом п.
                                2.5.2. настоящего Соглашения, начинается исключительно с того момента, как полученная от
                                Компании информация стала общедоступной, при этом до такого момента Сотрудник в
                                отношении Конфиденциальной информации несет все обязательства, предусмотренные настоящим
                                Соглашением.
                            </li>
                            <li>Компания в письменной форме дала согласие на то, что Сотрудник может без ограничений
                                раскрывать информацию третьей стороне.
                            </li>
                            <li>Данная информация была известна Сотруднику до того, как он её получил, и/или была
                                раскрыта Сотруднику третьей стороной.
                            </li>
                        </ol>
                    </ol>
                <li><strong>Область применения</strong>
                    <ol>
                        <li>Настоящее Соглашение применимо ко всей конфиденциальной информации, которую Компания
                            передаёт Сотруднику, или ставшей известной Сотруднику при исполнении своих должностных
                            обязанностей, а также в связи с реализацией совместных проектов и исполнением совместных
                            договоров.
                        </li>
                        <li>Настоящее Соглашение так же действует наряду с отдельными условиями об установлении режима
                            коммерческой тайны.
                        </li>
                    </ol>
                <li><strong>Передача конфиденциальной информации и ее использование</strong>
                    <ol>
                        <li>Конфиденциальная информация и коммерческая тайна может быть использована Компанией для любых
                            целей.
                        </li>
                        <li>Конфиденциальная информация и коммерческая тайна может быть использована Сотрудником
                            исключительно в целях исполнения своих должностных обязанностей.
                        </li>
                        <li>Передача конфиденциальной информации и коммерческой тайны органу государственной власти не
                            считается разглашением конфиденциальной информации и коммерческой тайны в случаях, когда
                            такой орган государственной власти уполномочен, в соответствии с действующим
                            законодательством, требовать предоставления такой информации. О факте передачи информации
                            органу государственной власти Сотрудник обязуется уведомить Компанию с предоставлением копий
                            соответствующего запроса органа государственной власти и своего ответа на такой запрос.
                        </li>
                        <li>Конфиденциальная информация и коммерческая тайна остается собственностью Компании. Компания
                            вправе потребовать от Сотрудника в любое время вернуть ей конфиденциальную информацию и
                            коммерческую тайну, полученную Сотрудником в материальной форме в процессе трудовой
                            деятельности и/или исполнении своих должностных обязанностей.
                        </li>
                    </ol>
                <li><strong>Срок действия</strong>
                    <ol>
                        <li>Настоящее Соглашение вступает в силу с момента и даты его подписания Сотрудником и действует
                            в течение всего срока трудового договора, заключенного между Компанией и Сотрудником, а
                            также в течение 1 (одного) календарного года после прекращения действия всех договоров и
                            соглашений, заключенных между Компанией и Сотрудником после подписания настоящего
                            Соглашения.
                        </li>
                        <li>Если какое-либо условие настоящего Соглашения оказывается недействительным, то остальные
                            положения настоящего Соглашения остаются в полной силе, а недействительное условие будет
                            заменено Компанией действительным условием, которое по содержанию наиболее близко выражает
                            смысл этого недействительного условия.
                        </li>
                    </ol>
                <li><strong>Ответственность</strong>
                    <ol>
                        <li>Настоящим Сотрудник подтверждает, что несанкционированное раскрытие или использование
                            конфиденциальной информации и коммерческой тайны может нанести этим непоправимый вред и
                            существенный ущерб Компании.
                        </li>
                        <li>Подписывая настоящее Соглашение, Сотрудник даёт своё полное и прямое согласие на то, что во
                            время (в период) своей трудовой деятельности в Компании, а также после прекращение/окончания
                            сроков трудового и/или иных договоров с Компанией которые в последующем и/или автоматически
                            не пролонгируются, обязуется не вступать в течении 1 (одного) календарного года в прямые
                            контакты и коммерческие отношения с конкурентами Компании (не трудоустраиваться к
                            конкурентам), с партнерами Компании, Заказчиками, ключевыми действующими лицами и
                            ТОП-менеджментом Компании, за несоблюдение данного п. 6.2 настоящего Соглашения, Сотрудник
                            обязуется выплатить штраф Компании в размере 100 тыс. (сто) тысяч рублей.
                        </li>
                        <li>За несоблюдение условий данного Соглашение сотрудник несёт ответственность в установленном
                            законом порядке и в соответствии с Законом о труде Луганской Народной Республики, а также в
                            соответствии с Законом о Коммерческой тайне Донецкой Народной Республики, Компания имеет
                            право на получение компенсации от Сотрудника нарушившего условия настоящего Соглашения, что
                            повлекло за собой финансовые убытки и/или иной ущерб для Компании, которые будут
                            взыскиваться с данного Сотрудника в судебном порядке.
                        </li>
                    </ol>
                    <div class="end">Ознакомлен(а) и даю своё согласие:</div>
            </ol>
        </div>
    </div>
    <div class="footer">
        <div class="inner-footer">
            <div>
                {{#if isBased}}
                    <input type="text" class="point" disabled value="{{signatureDate}}">
                {{else}}
                    <input type="text" class="point" name="signatureDate" disabled>
                {{/if}}
            </div>
            <div class="statement_footer_signature" id="signature">
                {{#if isBased}}
                    <img src="{{signature}}" id="sing_img" alt="">
                {{else}}
                    <span></span><input type="button" id="signatureButton">
                {{/if}}
            </div>
        </div>
    </div>
</div>
<div id="signature-pad" class="signature-pad">
    <div class="signature-pad--body">
        <canvas></canvas>
    </div>
    <div class="signature-pad--footer">
        <div class="signature-pad--actions">
            <button type="button" class="button clear" data-action="clear">Очистить</button>
            <button type="submit" class="button save" data-action="save">Сохранить</button>
        </div>
    </div>
</div>
